body {
  font-family: 'Rubik Variable';
}

form {
  display: flex;
  flex-direction: column;
  place-items: center;
  .reservation-section {
    background-color: var(--color-white);
  }
}

fieldset {
  border: 1px solid #ADB5BD;
  padding: 3em;
  padding-top: .8em;
  margin-bottom: 1.5rem;
  background-color: var(--color-white-off);

  legend {
    font-weight: 600;
    padding: .4em;
    font-size: 1.5em;
    color: #4F4C4C;
  }

  h2 {
    font-weight: 400;
    font-size: 1.3em;
    padding: 1em;
    padding-left: 0;
    padding-top: 0;
    color: var(--color-text);
  }

  label {
    padding: .5em;
  }

  hr {
    margin: 2.5em;
  }
}

.required,
.notification-option-is-required,
.notification-option,
.notification-option-is-disabled {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;

    .required {
      color: var(--color-red);
    }
}

.checkbox-slider,
.required {
  grid-column: 2;
  justify-self: end;

      &:disabled {
        background-color: var(--color-grey-medium);
          cursor: not-allowed;

         &::after {
            background-color:var(--color-white-off);
         }
    }

    &:checked&:disabled {
      background-color: var(--color-primary);
    }
}

.description {
  grid-column: 2;
  font-size: 0.85em;
  font-style: italic;
  color: var(--color-grey-medium);
}

p {
    font-size: 1em;

    .required {
        color: var(--color-red);
        font-size: 0.9em;
        margin-left: auto;
    }
}

.notification-option-is-disabled {
  cursor: not-allowed;
  opacity: 0.85;
}
