body {
    font-family: 'Rubik Variable';
}

form {
    display: flex;
    flex-direction: column;
    place-items: center;
}

fieldset {
  border: 1px solid #ADB5BD;
  padding: 3em;
  padding-top: .8em;
  margin-bottom: 1.5rem;
  background-color: #FBFBFB;

  legend {
    font-weight: 600;
    padding: .4em;
    font-size: 1.5em;
    color: #4F4C4C;
  }

  h2 {
    font-weight: 400;
    font-size: 1.3em;
    padding: 1em;
    padding-left: 0;
    padding-top: 0;
    color: #4F4C4C;
  }

  hr {
    margin: 2.5em;
  }
}

label,
p {
  display: flex;
  place-items: center;
}

p {
    font-size: 1em;

    .required {
        color: #B34040;
        font-size: 0.9em;
        margin-left: auto;
    }
}

.checkbox-slider {
    margin-left: auto;
    &:disabled {
        background-color: var(--color-green-darkened);
          cursor: not-allowed;

         &::after {
            background-color:var(--color-white-off);
         }
    }
}

.notification-option-is-disabled {
  cursor: not-allowed;
}
