/* RUBIK VARIABLE REGULAR */
@font-face {
    font-family: 'Rubik Variable';
    src: url('../font/rubik-variable-latin.woff2');
    font-weight: 400;
}

body {
    font-family: 'Rubik Variable';
}

form {
    display: flex;
    flex-direction: column;
    place-items: center;
}

fieldset {
  border: 1px solid #ADB5BD;
  padding: 3em;
  padding-top: .8em;
  margin-bottom: 1.5rem;
  background-color: #FBFBFB;

  legend {
    font-weight: 600;
    padding: .4em;
    font-size: 1.5em;
    color: #4F4C4C;
  }

  h2 {
    font-weight: 400;
    font-size: 1.3em;
    padding: 1em;
    padding-left: 0;
    padding-top: 0;
    color: #4F4C4C;
  }

  hr {
    margin: 2.5em;
  }
}

label,
p {
  display: flex;
  place-items: center;
}

p {
    font-size: 1em;

    .required {
        color: #B34040;
        font-size: 0.9em;
        margin-left: auto;
    }
}

.checkbox-slider {
    appearance: none;
    width: 4em;
    aspect-ratio: 2/1;
    margin: .5em;
    background-color: #E7E7E7;
    border-radius: .9em;
    box-shadow: 0 0 2px;
    font-size: .9em;
    cursor: pointer;
    padding: .12em;
    padding-right:3em;

    margin-left: auto;


        &::after {
        content: "";
        display: block;
        width: 1.75em;
        aspect-ratio: 1;
        background-color: white;
        border-radius: inherit;
        box-shadow: 0 0 2px ;

        transition: .2s;
        }

        &:checked {
            background-color: #0FB08A;
        }

        &:checked::after {
            translate: 2em;
        }
}

.notification-option-is-disabled {
  cursor: not-allowed;
}
